.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 20px;
  justify-content: space-around;
  width: 100%;
}
.contacts-form {
  min-width: 420px;
  width: 40%;
  height: 450px;
}
.info {
  display: flex;
  flex-direction: column;
}
.contact-card {
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  padding: 20px;
  margin: 30px 0 10px 0;
  background-color: #f4f4f4;
  border: 1px solid gainsboro;
  justify-content: space-between;
}
.main {
  display: flex;
  flex-direction: column;
  width: 35%;
  min-width: 380px;
  float: right;
}
.btn {
  margin-right: 10px;
  color: white;
  border: none;
}
.btn:hover {
  color: white;
}
.badge {
  padding: 13px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}
.black {
  background-color: #333333;
}

.red {
  background-color: maroon;
}
.blue {
  background-color: darkblue;
}
.green {
  background-color: darkgreen;
}
