.main-container {
  display: flex;
  margin: 0 50px;
  justify-content: space-evenly;
  width: 100%;
}
.contacts-form {
  /* flex-grow: 1; */
  width: 35%;
}
.info {
  display: flex;
  flex-direction: column;
}
.contact-card {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-top: 30px;
  height: 200px;
  width: 400px;
  background-color: beige;
  border: 1px solid gainsboro;
  justify-content: space-between;
}
.main {
  display: flex;
  flex-direction: column;
  float: right;
}
.btn {
  margin: 2px;
  color: white;
  border: none;
}
.btn:hover {
  color: white;
}
.black {
  background-color: black;
}

.red {
  background-color: maroon;
}
.blue {
  background-color: darkblue;
}
.green {
  background-color: darkgreen;
}
